//  VARIABLES

// COLOR VARIABLES

  $light-grey:#ccc;
       $white:#fff;
   $dark-grey:#777;
   $turquoise:#58e1c1;
  $light-blue:#51ddfc;
    $lavender:#927bc1;
$light-orange:#fd7856;
$light-purple:#deb2ee;
    $sky-blue:#7ee6fd;
 $light-green:#88d9a0;
   $blue-cyan:#4da2bb;
        $pink:#ec9fa2;
      $salmon:#fd9f85;
   $light-red:#e4757a;
       $green:#63cc82;
   $sea-green:#80e8d1;

// MEDIA QUERY BREAKPOINTS

$br-min:768px;