//  BUTTONS

.btn {
    margin-top: 15px;
    width: 100%;
    color: $white;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
    @include width ($br-min){
      padding: 10px 30px;
    }
  }
  
  .default {
    background-color: $light-blue;
  }
  
  .error {
    background-color: $light-red;
  }
  
  .info {
    background-color: $lavender;
  }
  
  .success {
    background-color: $green;
  }
  
  .warning {
    background-color: $light-orange;
  }